body{
	padding: 0px;
	background-color: #ede3e7;
	font-family: "微软雅黑";
	font-size: 20px;
}
.navbar-header .navbar-brand{
	font-size: 30px;
}
.title_box{
	display: inline-block;
	width: 100%;
	height: 50px;
	text-indent: 50px;
	line-height:50px ;
	background-color: #ede3e7;
}
.class_box{
	height: 50px;
	margin: 0 auto;
}
.class_box .classify_box{
	display: inline-block;
	line-height: 50px;
	padding: 0px;	
}
body .textbox,.textbox .textbox-text{
	vertical-align: top;
	background-color: #ede3e7;
}
.panel-body {
	background-color: #ede3e7;
}
.hot_label{
	display: inline-block;
	margin-left: 50px;
	height: 50px;
	line-height: 50px;
}
.hot_label li{
	float: left;
	font-size: 20px;
	line-height: 50px;
	margin: 0px 10px;
}
.label_text{
	color: red;
	font-style: italic;
}
.text_box{
	display: inline-block;
	width: 100%;
	height: 500px;
	padding: 0 50px;
	background-color: #ede3e7;
	text-align: center;
	line-height: 500px;
}
.formsubmit{
	background-color: #ede3e7;
	border-bottom-right-radius: -webkit-calc(50);
	padding: 0px;
	display: inline-block;
	width: 607px;
	height: 50px;
	margin: 4px auto;
	text-align: center;
}
.classify_box{
	width: 45%;
}
@media only screen and (min-width: 100px) and (max-width: 700px) {
	.formsubmit{
		width: 100%;
	}
	.hot_label{
		display: none;
	}
	.textbox{
		width:100%!important;
	}
}