body{
	background-color: #f1f2f3;
}
.main_heading{
	font-size: 40px;
}
.sbu_heading{
	display: inline-block;
	height: 50px;
	width: 100px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	border: 1px solid rgba(240, 124, 129, 1);
	background-color: rgba(240, 124, 129, 1);
	box-shadow: 0 0 10px 2px #efabab inset;
	color: white;
	border-radius: 25px;
}
.sbu_heading:hover{
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.arctiles_list{
	margin: 50px;
	padding: 50px;
	color:#000000;
	font-size: 20px;
	background-color: #f7dbdb;
	border-radius: 10px;
}
.arctile_ul{
	padding: 0px;
	width: 100%;
	text-align: left;
}
.normal_box{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 20px;
}
.arctile_li{
	width: 100%;
}

.arctiles_title_box .arctiles_title{
	color: #ab5050;
	font-weight: bolder;
}
.arctiles_details span{
	margin-right: 50px;
}
