html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-image: url(../img/index.jpg);
	background-repeat : no-repeat;
	background-size: 100% 100%;

}
.container{
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
}
.navbar-inverse {
    background-color: transparent;
    border-color: #080808;
}
.navbar-brand{
	font-size: 30px;
}
.navbar-nav{
	float: right;
}
.navbar{
	border: none;
}
.navbar .container{
	border-bottom: 1px solid #555;
}
.footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: 0 auto;
	text-align: center;
}
.menu{
	list-style: none;
}
.menu li{
	display: inline-block;
	margin: 100px;
}
.menu li a{
	font-family: "microsoft yahei";
	font-size: 30px;
	color: #57585d;
	display: inline-block;
	width: 150px;
	height: 70px;
	border-radius: 35px;
	border: 1px solid black;
	line-height: 70px;
	box-shadow: 0 0 10px 2px #efabab inset;
	text-decoration: none;
	transition:all 1s ease ;
}
.menu li a:hover{
	color: black;
	background-color: #efabab;
}
