html,body{
	width: 100%;
	height: 100%;
	background-color: #f3e1e3;
}
.container{
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 0px;
}
.navbar-inverse {
    background-color: transparent;
    border-color: #080808;
}
.navbar{
	border: none;
}
.navbar-header {
	padding-bottom: 10px;
	border-bottom:1px solid palegoldenrod;
}
.navbar-brand{
	font-size: 50px;
	font-style: italic;
	color: #000000;
}

.loginOregi{
	padding: 0 20px;
	position: relative;
}
.logininit,.reginit{
	margin: 0 auto;
	border: 1px solid #d4bdbd;
	width: 500px;
}
@media only screen and (min-width: 350px) and (max-width: 640px) {
	.logininit,.reginit{
		margin: 0 auto;
	    width: 300px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 350px) {
	.logininit,.reginit{
		margin: 0 auto;
	    width: 250px;
	}
}
.formLogin{
	background-color: inherit;
	border: none;
	padding: 0px;
	width: 100%;
	height: 50px;
	text-indent:100px;
}
.formsubmit{
	background-color: #eccfcf;
	border-bottom-right-radius: -webkit-calc(50);
	padding: 0px;
	display: inline-block;
	width: 100%;
	height: 50px;
}
.logintitle{
	text-align: center;
	margin: 0 auto;
}
.span001,.span002{
	display: inline-block;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	width: 200px;
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    .span001 , .span002{
	    width: 100px;
    }
}
@media only screen and (min-width:400px) and (max-width: 640px) {
    .span001 , .span002{
	    width: 150px;
    }
}
.iconxingmingyonghumingnicheng,.iconshoujihao,.iconyouxiang,.iconmima{
	float: left;
	position: absolute;
	line-height: 50px;
	text-indent: 25px;
}
#button001,#button002{
	width: 100px;
	height: 48px;
    border: none;
    background-color: inherit;
}
