<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>标记生活</title>
	    <style type="text/css">
	    	.cont{
	    		background-image: url(../static/img/page002.jpg);
	    		margin-left: 100px;
	    		margin-right: 100px;
	    		padding-left: 0px;
	    	}
	    	.cont li{
	    		font:40px/100px "微软雅黑";
	    		display: inline-block;
	    		margin: 0px;
	    		padding-left: 50px;
	    		padding-right: 50px;
	    	}
	    </style>
	</head>
	<body>
		<div>
		<ul class="cont">
			<li>标记生活</li>
			<li>吃</li>
			<li>喝</li>
			<li>玩</li>
			<li>乐</li>
	    </ul>
	    </div>
	    <div>
	    	<h1>用于测试</h1>
	    	<ul>
	    		<li><a href="#">1111</a><span></span></li>
	    		<li><a href="#">2222</a><span></span></li>
	    		<li><a href="#">3333</a><span></span></li>
	    		<li><a href="#">4444</a><span></span></li>
	    		<li><a href="#">5555</a><span></span></li>
	    	</ul>
	    </div>
	    
	    
	</body>
</html>
