<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript">
			var aRrra001 = [1,2,3]
			alert(aRrra001.length)
			window.onload = function(){
				aRrr = document.getElementsByTagName('div')
				alert(aRrr.length)
				aRrr[0].style.backgroundColor='gold'
				var aRrra002 = [1,2,3,4,5,4,5,6,9,10]
				var aRrra003=[]
				for(var i = 0;i<=aRrra002.length; i++ ){
					if(aRrra002.indexOf(aRrra002[i])==i){
						aRrra003.push(aRrra002[i]);
					}
				}
				alert(aRrra003.length)
			}
			
		</script>
	</head>
	<body>
		<div>
			this is a box
		</div>
	</body>
</html>
