{% extends "base.html" %}
{% block title %}Flasky{% endblock %}
{%- block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/index.css" >
{%- endblock styles %}
{% block page_content %}
<div class="page-header">
    <h1>
    	<span class="main_heading">致所有人,态度决定生活，学会爱自己，学会享受你的生活！</span>
    	
    </h1>
    <h2>
    	<span class="sbu_heading">写文章</span>
    </h2>
    <div class="menu">
    	<ul>
    		<li>吃</li>
    		<li>喝</li>
    		<li>玩</li>
    		<li>乐</li>
   		</ul>
    </div>
	<div class="pagenation">
		<a href="">上一页</a>
		<a href="">1</a>
		<a href="">2</a>
		<span>...</span>
		<a href="">n</a>
		<a href="">下一页</a>
	</div>
</div>
{% endblock %}