<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block title %}鱼的记忆{% endblock %}
{%- block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/index.css" >
{%- endblock styles %}
<div class="container">
	{% block navbar %}
	<div class="navbar navbar-inverse" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	        <button type="button" class="navbar-toggle"
	        data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/">@独家记忆</a>
	        </div>
	        <div class="navbar-collapse collapse">
	        	{% if username %}
	        	<span class="nav navbar-nav">{{ username }},独家记忆欢迎您</span>
	        	{% else %}
	            <ul class="nav navbar-nav"> 
	                <li><a  href="/userLogin" >登录</a></li>
	                <li><a href="/userRegistor" >注册</a></li>
	            </ul>
	            {% endif %}
	        </div>
	    </div>
	</div>
	{% endblock %}
	
	{% block content %}
	{% block page_content %}
	<div class="container">
		<div class="menu">
			<ul>
				<li><a href="">个人中心</a></li>
				<li><a href="/home" target="_blank">记忆中心</a></li>
				<li><a href="">界面订做</a></li>
			</ul>
		</div>
		<div class="content">
		一杯敬朝阳，一杯敬月光<br>
		一杯敬明天，一杯敬过往<br>
		一杯敬自由，一杯敬死亡<br>
		</div>
		<div class="footer">   
	        <span>版权所有@勿忘</span>
	        <span>问题邮箱2382725346@qq.com</span>
		</div>
	</div>

	{% endblock %}
	{% endblock %}
</div>

