<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>独家记忆</title>
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/icon/iconfont.css">
	</head>
	<body>
		<div class="header_cn">
			<div class="header">
				<div class="welcome fl">
					@独家记忆
				</div>
				<div class="user_info fr">
					 <div class="user_login_lin fl" style="display: block;">
					 	<a href="">登录</a>
					 	<span>|</span>
					 	<a href="">注册</a>
					 </div>
					 <div class="user_welcome fl" style="display: none;">
					 	欢迎您，<em>User</em>
					 </div>
					 <div class="user_shopping fl" style="display: none;">
					 	<a href="">我的购物车</a>
					 	<a href="">我的订单</a>
					 </div>
				</div>
			</div>
		</div>
		<div class="logo_bar">
			<div class="logo fl">
				<a href="">
					<img src="" alt="LOGO" />
				</a>
			</div>
			<div class="search fl">
				<form action="POST">
					<input type="text" name="" id="" value="请输入"  class="input_text fl"/>
					<input type="button" name="" id="" value="提交"  class="input_button fr"/>
				</form>
			</div>
			<div class="chart fr">
				<a href="">我的消息</a>
				<span>0</span>
			</div>
		</div>
		<div class="sub_menu_con">
			<div class="sub_menu">
				<h1 class="fl">记忆中心</h1>
				<ul class="fl">
					<li>独家记忆</li>
					<li>界面订做</li>
					<li>个人中心</li>
				</ul>
			</div>
		</div>
		<div class="center_con">
			<ul class="main_menu fl">
				<li><a href="">歌曲 </a></li>
				<li><a href="">影视</a></li>
				<li><a href="">小说</a></li>
				<li><a href="">漫画</a></li>
				<li><a href="">体育</a></li>
				<li><a href="">其他</a></li>
			</ul>
			<div class="slide_con fl">
				<ul class="slider">
					<li><a href="">
						<img src="" alt="幻灯片的图片" />
					</a></li>
				</ul>
				<div class="pre iconfont">
					<a href="">&#xe60d;</a>
				</div>
				<div class="next iconfont">
					<a href="">&#xe659;</a>
				</div>
				<ul class="points iconfont">
					<li class="active">
						&#xe62c;
					</li>
					<li>&#xe62c;</li>
					<li>&#xe62c;</li>
					<li>&#xe62c;</li>
					<li>&#xe62c;</li>
					<li>&#xe62c;</li>
				</ul>
			</div>
			<div class="adv fl">
				<a href=""><img src="" alt="广告1" /></a>
				<a href=""><img src="" alt="广告2" /></a>
			</div>
		</div>
		<div class="conmon_title">
			<h3>
				标记生活
			</h3>
			<ul>
				<li><a href="">吃</a></li>
				<li><a href="">喝</a></li>
				<li><a href="">玩</a></li>
				<li><a href="">乐</a></li>
			</ul>
			<a href="">
				查看更多
			</a>
		</div>
		<div class="common_goods_list">
			<div><img src="" alt="吃的LOGO" /></div>
			<ul class="goods_list">
				<li>
					<h4>主题1</h4>
					<a href=""><img src="" alt="" /></a>
					<p></p>
				</li>
				<li>
					<h4>主题2</h4>
					<a href=""><img src="" alt="" /></a>
					<p></p>
				</li>
				<li>
					<h4>主题3</h4>
					<a href=""><img src="" alt="" /></a>
					<p></p>
				</li>
				<li>
					<h4>主题4</h4>
					<a href=""><img src="" alt="" /></a>
					<p></p>
				</li>
			</ul>
		</div>
	</body>
</html>
